Source: epics-snmp
Section: libdevel
Priority: optional
Maintainer: Martin Konrad <konrad@frib.msu.edu>
Build-Depends: debhelper (>= 10), epics-debhelper (>= 8.14~),
               epics-dev,
               libsnmp-dev,
Standards-Version: 4.3.0
Homepage: https://groups.nscl.msu.edu/controls/files/devSnmp.html
Vcs-Git: https://stash.frib.msu.edu/projects/EPICS/repos/epics-snmp.git
Vcs-Browser: https://stash.frib.msu.edu/projects/EPICS/repos/epics-snmp

Package: epics-snmp-dev
Architecture: any
Depends: libdevsnmp1.0.0.1 (= ${binary:Version}), ${shlibs:Depends},
         ${misc:Depends}, ${epics:Depends},
Description: EPICS support for SNMP devices
 Device support for SNMP-based hardware.
 .
 This package contains dbd, headers, and MIB files required
 for applications.
 
Package: libdevsnmp1.0.0.1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EPICS support for SNMP devices
 Device support for SNMP-based hardware.
 .
 This package contains the runtime library.
